{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
    // "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/ignore": [
      "react-native"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-wrap-multilines": 2,
    "react/no-string-refs": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": [
      "error"
    ],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports"
      }
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "react"
  ],
  "globals": {
    "JSX": true
  }
}